* {
  font-size: 13px;
}
.app-container {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.app {
  margin: 15px;
  width: 1000px;
  border: 1px solid lightgray;
  padding: 25px;
  border-radius: 5px;
  min-height: 600px;
  align-items: center;
  background-color: #f9f9f9;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
